@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Tiny5&display=swap');

:root {
    --scheme-theme: light dark;
    --rosita: rgb(195, 116, 202);
    --blanco: rgb(255, 252, 244);
    --negro-fondo: rgb(31,31,31);
    color-scheme:var(--scheme-theme) ;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif;
    color: var(--rosita)
}

.close-button{
    background-color: transparent;
    border: none;
    top:5px;
    right:5px;
    position: absolute;
    cursor: pointer;
    color: var(--rosita);
    font-size: 1.5rem;
    font-family: 'Pixelify Sans', sans-serif;
}

.title-home {
    grid-column: span 2;
    font-size: 2.5rem;
    margin: 20px 0 0 0;
    text-align: center;
    animation: moveUpDown 2s infinite ease-in-out;
}

.title-home:hover {
    animation-play-state: paused;
}

.grid-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 20px;
}

.button-home {
    padding: 30px 40px;
    border: none;
    display: block;
    border-radius: 5px;
    background-color: var(--rosita);
    color: var(--blanco);
    font-family: 'Tiny5', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    transition: ease 0.3s;
    min-width: 200px;
    max-width: 300px;
}

button img {
    width: 2rem;
    height: 2rem;
}

button:active {
    transform: scale(0.95);
}

.page-showed{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.minute-timer {
    margin: 0;
    color: var(--blanco);
    font-family: 'Tiny5', sans-serif;;
    font-size: 4rem;
    text-shadow: 
        2px 2px 0px var(--negro-fondo),   
        -2px -2px 0px var(--negro-fondo),
        2px -2px 0px var(--negro-fondo),  
        -2px 2px 0px var(--negro-fondo); 
}

.go-back {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: transparent;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
    color: var(--rosita);
    font-size: 1.3rem;
    letter-spacing: -1px;
    font-family: 'Pixelify Sans', sans-serif;
}

.timer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

#resetButton {
    grid-column: span 2;
}

.timer-buttons button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--rosita);
    color: var(--blanco);
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: ease 0.3s;
}

@keyframes moveUpDown {
    0% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px); 
    }
    100% {
      transform: translateY(-10px); 
    }
  }